a {
  color: green;
}

i {
  color: red;
}
.line {
  text-decoration: underline;
}

.links a {
  text-decoration: none;
}

p .line {
  color: grey;
}

b {
  color: purple;
}

a[href$='.com'],
a[href$='.com/'] a[href*='.com/'] {
  color: black;
  text-decoration: underline;
}
/* ex10- */
