/* add code here */

/* add code here */

h1 {
  color: red;
}

.header h1 {
  color: blue;
}

p {
  text-decoration: underline;
}

.para {
  text-decoration: none;
  color: blueviolet;
}

/*02. Suprascrie in zona specificata acele reguli
 de CSS, astfel incat
Titlul sa fie verde, subliniat si cu un
padding de 5px
Paragraful sa aiba marimea fontului
 de 25px,
 italic si culoarea mov */

#header h1 {
  color: green;
  padding: 5px;
  text-decoration: underline;
}
#container .para {
  font-size: 25px;
  font-style: italic;
  color: yellow;
}
